@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");
@import "./style/globalstyles.css";
@import "./style/typografy.css";
@import "./style/colors.css";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 1500px;
  max-width: 95%;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.App-main {
  display: flex;
}
